<launch>
    <!-- Start your marker detection node -->
    <node name="marker_detection_node" pkg="LCH" type="marker_detection.py" output="screen" />

    <!-- Start your teleoperation node -->
    <node name="teleop_node" pkg="LCH" type="teleop.py" output="screen" />

    <!-- Launch RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find LCH)/aruco_rviz.rviz" />
</launch>

